<body>
    <div class="sideDivs">
    </div>
    <div class="centerDiv" display="grid-row">
        <div display="grid-cell">
            <h2>
                <p>This Single Page Application was made to visualize specific train actions, depending on GPS information and date, chosen by the user</p>
            </h2>
            <p>
                &nbsp;
            </p>
            <ul>
                <li>
                    <h4>
                        'Map' section allows the user to pick a spot on the map and brings the data on the screen from the last 15 minutes. Data involves information - about the trains within 100 km of radius of the chosen spot - which are trains' identification numbers and
                        locations at the time
                    </h4>
                </li>
                <li>
                    <h4>'Calendar' section allows the user to pick a day from the calendar and brings a list of the trains that were on the move on the chosen day. User then can choose a train and view the departure/arrival train stations and times of the
                        chosen train</h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="sideDivs">
    </div>
</body>